.Card {
  background-color: white;
  width: 60%;
  display: grid;
  grid-template-columns: 25% 1fr;
  padding: 20px 20px;
  margin: 150px auto 0 auto;
  border-radius: 5px;
}
.titleSec {
  padding: 0 10px 0 0;
  text-align: left;
  color: rgb(51, 51, 51);
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 1.5px;
}
.titleSec h3 {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  .Card {
    grid-template-columns: 100%;
    width: 90%;
  }
}
