.QnACard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 0.8px solid rgba(92, 92, 92, 0.3);
  padding: 10px 18px;
  margin-bottom: 10px;
  transition: height 2s ease-in;
}
.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head h3 {
  color: rgb(92, 92, 92);
  letter-spacing: 1.5px;
}
.head .fa_btn {
  width: 35px;
  height: 35px;
  background-color: rgb(92, 92, 92);
  padding: 10px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.QnACard p {
  margin-top: 0;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(66, 66, 66);
  letter-spacing: 1px;
}
